{% extends "base.html" %}

{% block content %}

<article>
  <p>The authorized lichess id has been associated by multiple members, tabulated below.</p>
  <p>You must resolve this internally before proceeding further.</p>
  <figure>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Zulip Email</th>
          <th scope="col">Zulip Full Name</th>
        </tr>
      </thead>
      <tbody>
        {% for voter in voter_slip %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>user{{ voter.doc_id }}@hq.lichess.ovh</td>
          <td>{{ voter["zulip_full_name"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
</article>

{% endblock %}