{% extends "base.html" %}

{% block content %}

<form name="rcvform" method="post">
  <figure>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">1st Choice</th>
          <th scope="col">2nd Choice</th>
          <th scope="col">3rd Choice</th>
          <th scope="col">4th Choice</th>
          <th scope="col">5th Choice</th>
        </tr>
      </thead>
      <tbody>
        {% for mod in mods %}
        <tr>
          {% for pref in range(1,6) %}
          <td>
            <label>
              <input type="radio" name="pref_{{ pref }}" value="{{ mod.doc_id }}">
              #{{ mod.doc_id }} @{{ mod.zulip_full_name }}
            </label>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
  <p><input type=submit value=Nominate></p>
</form>

{% endblock %}