{% extends "base.html" %}

{% block content %}

<article>
  <p>Welcome to the nomination kiosk.</p>
  <ul>
    {% if comms %}
    <li><a href="/rcv/comms">Nominate representatives</a> in the comms genre.</li>
    {% endif %}

    {% if boost %}
    <li><a href="/rcv/boost">Nominate representatives</a> in the boost genre.</li>
    {% endif %}

    {% if cheat %}
    <li><a href="/rcv/cheat">Nominate representatives</a> in the cheat genre.</li>
    {% endif %}
  </ul>

</article>
<a href="/logout" role="button" class="secondary" style="width: 10%;">Logout</a>

{% endblock %}