{% extends "base.html" %}

{% block content %}

<article>
  <p>You have sucessfully put forward nominations for {{genre}} genre.</p>
  <p><a href="/rcv"> Return</a> to the nomination kiosk.</p>
</article>

{% endblock %}