{% extends "base.html" %}

{% block content %}

<article>
  {% for genre in ("comms", "boost", "cheat") %}
  {% if session[genre] %}
  <details>
    <summary>Rankings in {{ genre }} genre</summary>
    <figure>
      <table role="grid">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Score</th>
            <th scope="col">Zulip Email</th>
            <th scope="col">Zulip Full Name</th>
          </tr>
        </thead>
        <tbody>{% include "rcv/leaderboards/%(genre)s.html"|format(genre=genre) %}</tbody>
      </table>
    </figure>
  </details>
  {% endif %}
  {% endfor %}
</article>
<a href="/logout" role="button" class="secondary" style="width: 10%;">Logout</a>

{% endblock %}