<!DOCTYPE html>
<html lang="en">
<html data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ranked choice voting</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    onerror="this.onerror=null;this.href='/static/css/pico.min.css';">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><a href="/">Ranked Choice Voting</a></li>
    </ul>
    <ul>
      <li><a href="#" data-theme-switcher="light">Light</a></li>
      <li><a href="#" data-theme-switcher="dark">Dark</a></li>
    </ul>
  </nav>

  <main class="container-fluid">
    {% block content %}{% endblock %}
  </main>

  <footer class="container-fluid">
    <small>
      Built with
      <a href="https://picocss.com" class="contrast">Pico</a> •
      <a href="https://icons8.com/icon/Za5S7LrpmWxn/ballot" class="contrast">Ballot</a> favicon by
      <a href="https://icons8.com" class="contrast">Icons8</a> •
      <a href="https://gitlab.com/icp1994/rcv" class="contrast">Source code</a>
    </small>
  </footer>

  <script>
    /*!
    * Minimal theme switcher
    *
    * Pico.css - https://picocss.com
    * Copyright 2020 - Licensed under MIT
    */

    const themeSwitcher = {

      // Config
      buttonsTarget: 'a[data-theme-switcher]',
      buttonAttribute: 'data-theme-switcher',
      rootAttribute: 'data-theme',

      // Init
      init() {
        document.querySelectorAll(this.buttonsTarget).forEach(function (button) {
          button.addEventListener('click', function (event) {
            event.preventDefault();
            document.querySelector('html').setAttribute(
              this.rootAttribute,
              event.target.getAttribute(this.buttonAttribute));
          }.bind(this), false);
        }.bind(this));
      }
    }

    // Init
    themeSwitcher.init();
  </script>
</body>

</html>